* {
  box-sizing: border-box;
}


body {
  background-color: #f8f8f8;
  font-family: "helvetica neue", helvetica, sans-serif;
  font-size: 17px;
  overflow: hidden;
}


#container {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 300px;
}